<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404185855566-mob0vh6424nmmv4apps3eabvsf28nv0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404185855566-mob0vh6424nmmv4apps3eabvsf28nv0q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>404185855566-5uo01iroevuvoon1el8de0c5fqhrrsh6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCP3Il43dGKqbAdHVuzNganpA742Mp1uls</string>
	<key>GCM_SENDER_ID</key>
	<string>404185855566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test001</string>
	<key>PROJECT_ID</key>
	<string>test-insta-19-05</string>
	<key>STORAGE_BUCKET</key>
	<string>test-insta-19-05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404185855566:ios:bb61743cd638c8ae29751f</string>
</dict>
</plist>